#screenboard-interface #whiteboardCanvas {
  border: 1px solid #000;
  cursor: crosshair;
  background-color: white;
}

#screenboard-interface .resize-handle,
#screenboard-interface .move-handle {
  width: 8px;
  height: 8px;
  background: red;
  position: absolute;
}

#screenboard-interface .move-handle {
  background: blue;
}

#screenboard-interface #textInput {
  display: none;
  position: absolute;
  z-index: 10;
  width: 200px;
}

#screenboard-interface .shape-icon {
  width: 20px;
  height: 20px;
  color: white;
}

#screenboard-interface .toolbar .btn-group button,
#screenboard-interface .toolbar .dropdown-menu a {
  font-size: 0.8rem;
  padding: 5px 10px;
  margin: 0 2px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

#screenboard-interface .toolbar .dropdown-menu a {
  background-color: transparent;
  color: rgb(27, 26, 26);
}

#screenboard-interface .toolbar .btn-group button:hover,
#screenboard-interface .toolbar .dropdown-menu a:hover {
  background-color: #e3e7eb;
}

#screenboard-interface .toolbar .btn-group button.active {
  background-color: #454d55;
}

#screenboard-interface .toolbarScreen .btn-group button,
#screenboard-interface .toolbarScreen .dropdown-menu a {
  font-size: 0.8rem;
  padding: 5px 10px;
  margin: 1px 2px;
  border-radius: 4px;
  transition: background-color 0.2s;
  background-color: transparent;
  color: "black";
}

#screenboard-interface .toolbarScreen .btn-group button {
  color: rgb(6, 6, 6);
  border: none;
}

#screenboard-interface .toolbarScreen .dropdown-menu a {
  background-color: transparent;
  color: rgb(27, 26, 26);
}

/* #screenboard-interface .toolbarScreen .btn-group button:hover,
#screenboard-interface .toolbarScreen .dropdown-menu a:hover {
  background-color: rgba(214, 209, 209, 0.4);
  color: black;
} */

#screenboard-interface .toolbarScreen .btn-group button.active {
  background-color: #454d55;
}

#screenboard-interface #toolbar,
#screenboard-interface #toolbarScreen {
  transition: display 0.3s ease-in-out;
}

#screenboard-interface #toolbarToggle,
#screenboard-interface #toolbarToggleScreen {
  cursor: pointer;
  border: "2px solid black" !important;
  font-size: 0.8rem;
}

#screenboard-interface #colorPicker,
#screenboard-interface #colorPickerScreen {
  font-size: 0.8rem;
  padding: 2px 2px;
  width: 32px;
  height: 32px;
}

#screenboard-interface #lineTypePicker {
  font-size: 0.8rem;
  padding: 2px auto;
  width: 32px;
  height: 32px;
}

#screenboard-interface .btnBoard {
  font-size: 1rem;
  padding: 2px 2px;
  width: 40px;
  height: 40px;
  margin: 2px;
}

#screenboard-interface #lineTypePickerScreen {
  font-size: 0.7rem;
  padding: 2px auto;
  width: 28px;
  height: 28px;
  background-color: rgba(214, 209, 209, 0.4);
  color: #000;
  border-radius: 4px;
}

#screenboard-interface .toggle-icon {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
}

#screenboard-interface #toggleBackground.active {
  background-color: #fdfeff;
}

#screenboard-interface .annotateScreenBtn {
  background-color: #2d2e2f !important;
  border: 2px solid #000 !important;
  color: green !important;
  font-size: 0.75rem;
}
