#whiteboard-interface #whiteboardContent #whiteboardCanvas {
  border: 1px solid #000;
  cursor: crosshair;
  background-color: white;
}

#whiteboard-interface #whiteboardContent .resize-handle,
#whiteboard-interface #whiteboardContent .move-handle {
  width: 8px;
  height: 8px;
  background: red;
  position: absolute;
}

#whiteboard-interface #whiteboardContent .move-handle {
  background: blue;
}

#whiteboard-interface #whiteboardContent #textInput {
  display: none;
  position: absolute;
  z-index: 10;
  width: 200px;
}

#whiteboard-interface #whiteboardContent .shape-icon {
  width: 20px;
  height: 20px;
  color: white;
}

#whiteboard-interface #whiteboardContent .toolbar .btn-group button,
#whiteboard-interface #whiteboardContent .toolbar .dropdown-menu a {
  font-size: 0.8rem;
  padding: 5px 10px;
  margin: 0 2px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

#whiteboard-interface #whiteboardContent .toolbar .dropdown-menu a {
  background-color: transparent;
  color: rgb(27, 26, 26);
}

#whiteboard-interface #whiteboardContent .toolbar .btn-group button:hover,
#whiteboard-interface #whiteboardContent .toolbar .dropdown-menu a:hover {
  background-color: #e3e7eb;
}

#whiteboard-interface #whiteboardContent .toolbar .btn-group button.active {
  background-color: #454d55;
}

#whiteboard-interface #whiteboardContent .toolbarScreen .btn-group button,
#whiteboard-interface #whiteboardContent .toolbarScreen .dropdown-menu a {
  font-size: 0.8rem;
  padding: 5px 10px;
  margin: 0 2px;
  border-radius: 4px;
  color: "black";
}

#whiteboard-interface #whiteboardContent .toolbarScreen .btn-group button {
  background-color: #e3e7eb;
  border: none;
}

#whiteboard-interface #whiteboardContent .toolbarScreen .dropdown-menu a {
  background-color: transparent;
  color: rgb(27, 26, 26);
}

#whiteboard-interface #whiteboardContent .toolbarScreen .btn-group button:hover,
#whiteboard-interface #whiteboardContent .toolbarScreen .dropdown-menu a:hover {
  background-color: rgba(214, 209, 209, 0.4);
  color: black;
}

#whiteboard-interface #whiteboardContent .toolbarScreen .btn-group button.active {
  background-color: #454d55;
}

#whiteboard-interface #whiteboardContent #toolbarToggleScreen {
  background-color: rgba(214, 209, 209, 0.4);
  border: "1px solid black";
}

#whiteboard-interface #whiteboardContent #toolbar,
#whiteboard-interface #whiteboardContent #toolbarScreen {
  transition: display 0.3s ease-in-out;
}

#whiteboard-interface #whiteboardContent #toolbarToggle,
#whiteboard-interface #whiteboardContent #toolbarToggleScreen {
  cursor: pointer;
}

#whiteboard-interface #whiteboardContent #colorPicker,
#whiteboard-interface #whiteboardContent #colorPickerScreen {
  font-size: 0.8rem;
  padding: 2px 2px;
  width: 32px;
  height: 32px;
}

#whiteboard-interface #whiteboardContent #lineTypePicker {
  font-size: 0.8rem;
  padding: 2px auto;
  width: 32px;
  height: 32px;
}

#whiteboard-interface #whiteboardContent .btnBoard {
  font-size: 1rem;
  padding: 2px 2px;
  width: 40px;
  height: 40px;
  margin: 2px;
}

#whiteboard-interface #whiteboardContent #lineTypePickerScreen {
  font-size: 0.8rem;
  padding: 2px auto;
  width: 32px;
  height: 32px;
  background-color: rgba(214, 209, 209, 0.4);
  color: #000;
}

#whiteboard-interface #whiteboardContent .toggle-icon {
  width: 34px;
  height: 34px;
  padding: 0;
  margin: 0;
}

#whiteboard-interface #whiteboardContent #toggleBackground.active {
  background-color: #fdfeff;
}

#whiteboard-interface #whiteboardContent .annotateScreenBtn {
  background-color: #2d2e2f !important;
  border: 2px solid #000 !important;
  color: green !important;
}
